body {
    margin: 0; 
    background-color: #f7d7d7;
   }

 #header { 
    background: #a88282;
    padding: 10px;
    text-align: center;
   }
  
#footer { 
    background: #333;
    padding: 5px; 
    color: #fff;
    clear: left; 
   }

  .container {
  width: 100%;
  max-width: 1100px;
  padding: 0 15px;
  box-sizing: border-box;
  margin:auto;

  }

  .content {
  width: 100%;
  max-width: 1100px;
  padding: 0 15px;
  box-sizing: border-box;
  margin:auto;
  font-family: 'Roboto', sans-serif;
  font-style: oblique;

  }

  .preview {
  display: flex;
  margin: -102px 15px -24px 32px;

  }

  .left-post {
  padding:0 80px;
  margin-top: 135px;
  font-family: 'Open Sans', sans-serif; color: #290707;
  font-weight: bold; 
}

.right-post {
  padding:0 -60px 0 -147px;
  margin-top: 135px;
  font-family: 'Montserrat', sans-serif; color:#030017;
  font-weight: bold;

}
.text-container {
  width: 100%;
  max-width: 420px;
  
}

h2 {
    background: #b2dbea;
    padding: 52px 19px;
    text-align: center;
    font-family: 'Righteous', cursive;
    position: relative;
    color: #3CA1D9;
    display: inline-block;
    border-top: 2px solid;
    border-bottom: 2px solid;
    font-size: 3em;
    padding: 0px 12px;
    margin: 0px;
    line-height: -1;
}

h1 {
    background: #9f94eb;
    text-align: center;
    font-family: 'Righteous', cursive;
    position: relative;
    color: #367040;
    display: inline-block;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-right:2px solid; 
    border-left:2px solid;;
    font-size: 3em;
    padding: 0px 12px;

}


.here {
  color: red;